body{
    background-color: #FDFEEE; 
    display: block;
    margin: 8px;
    background-image: url(images/frame-967.png);
    background-repeat: repeat;
  }
.sweethartBanner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 500px;
}


h2{
    margin: 8px;
    text-align: center;
    font-size: 55pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
#subHead{
    margin: 8px;
    text-align: center;
}

#aboutMe{
    margin: 8px;
    text-align: left;
    display: block;
    padding-left: 200px;
    padding-right: 200px;
    }

#schoolText{
  display: block;
  text-align: right;
  padding-left: 200px;
  padding-right: 775px;
  z-index: 3;
  margin: 8px;
  font-size: 14pt;
  line-height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: purple;
}

#workText{
  display: block;
  text-align: leftt;
  padding-left: 750px;
  padding-right: 200px;
  z-index: 3;
  margin: 20px;
  font-size: 14pt;
  line-height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: purple;
}

#pastryHead{
  margin: 8px;
  padding-left: 200px;
  padding-right: 775px;
  text-align: right;
  display: block;
  font-size: 24pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#workHeader{
  margin: 8px;
  padding-left: 765px;
  padding-right: 200px;
  text-align: left;
  display: block;
  font-size: 24pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.rowSchool{
  padding-left: 750px;
  padding-right: 10px;
  padding-top: -150px;
  margin-top: -370px;
}

.rowSchool > .columnMainSchool {
  padding: 0 0px;
}


.rowSchool:after {
  content: "";
  display: table;
  clear: both;
}
.columnSchool {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modalSchool {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #FDFEEE;
}



/* Modal Content */
.modal-contentSchool {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.closeSchool {
  color: purple;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.closeSchool:hover,
.closeSchool:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlidesSchool {
  display: none;
}


/* Next & previous buttons */
.prevSchool,
.nextSchool {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.nextSchool {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevSchool:hover,
.nextSchool:hover {
  background-color: rgba(0, 0, 0, 0.8);
}




/* Number text (1/3 etc) */
.numbertextSchool {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



/* Caption text */
.caption-containerSchool {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demoSchool {
  opacity: 0.6;
}

.activeSchool,
.demoSchool:hover {
  opacity: 1;
}

img.hover-shadowSchool {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  /* transition: 0.3s; */
}

.hover-shadowSchool:hover {
  transform: scale(1.5);
  box-shadow: 0 10px 18px 0 rgba(217, 72, 236, 0.2), 0 10px 32px 0 rgba(217, 72, 236, 0.2);
  }


  .rowWork{
    padding-left: 190px;
    padding-right: 200px;
    padding-top: -150px;
    margin-top: -420px;
  }
  
  .rowWork > .columnMainWork {
    padding: 0 0px;
  }
  
  
  .rowWork:after {
    content: "";
    display: table;
    clear: both;
  }

  .columnWork {
    float: left;
    width: 25%;
  }
  
  
  /* The Modal (background) */
  .modalWork {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #FDFEEE;
  }
  
  
  
  /* Modal Content */
  .modal-contentWork {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .closeWork {
    color: purple;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .closeWork:hover,
  .closeWork:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  

  
  
  /* Next & previous buttons */
  .prevWork,
  .nextWork {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .nextWork {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prevWork:hover,
  .nextWork:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  
  
  /* Number text (1/3 etc) */
  .numbertextWork {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  
  /* Caption text */
  .caption-containerWork {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demoWork {
    opacity: 0.6;
  }
  
  .activeWork,
  .demoWork:hover {
    opacity: 1;
  }
  
  img.hover-shadowWork {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    /* transition: 0.3s; */
  }
  
  .hover-shadowWork:hover {
    transform: scale(1.5);
    box-shadow: 0 10px 18px 0 rgba(217, 72, 236, 0.2), 0 10px 32px 0 rgba(217, 72, 236, 0.2);
    }

    .box {
      width: 40%;
      margin: 0 auto;
      background: rgba(217, 72, 236, 0.2);
      padding: 225px;
      border: 2px solid #fff;
      
      text-align:left;
      background-image: url(images/profilepic.jpg);
      background-repeat: no-repeat;
    }
    
    .button {
      font-size: 25pt;
      padding: 20px;
      background-color: purple;
      color: #FDFEEE;
      border: 2px solid pink;
      border-radius: 50px/50px;
      text-decoration: none;
      cursor: pointer;
      margin-top: 100px;
      margin-left: 400px;
      transition: all 0.3s ease-out;
    }
    .button:hover {
      background: pink;
    }
    
    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
    }
    .overlay:target {
      visibility: visible;
      opacity: 1;
    }
    
    .popup {
      margin: 70px auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      width: 30%;
      position: relative;
      transition: all 5s ease-in-out;
    }
    
    .popup h2 {
      margin-top: 0;
      color: #333;
      font-family: Tahoma, Arial, sans-serif;
    }
    .popup .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }
    .popup .close:hover {
      color: #06D85F;
    }
    .popup .content {
      max-height: 30%;
      overflow: auto;
    }
    
    @media screen and (max-width: 700px){
      .box{
        width: 70%;
      }
      .popup{
        width: 70%;
      }
    }
 
  footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: purple;
    margin: 8px;
  }

  a{
    color: white;
  }

  #mainHeading{
    color: red;
    visibility: hidden;
  }

  .funParagraph{
    color: green;
    visibility: hidden;
  }